<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

      <ion-card *ngIf="image">
        <img [src]="image" *ngIf="image" />
      </ion-card>
 xxx
<div *ngFor="let photo of photos">

    <ion-card>
        <img [src]="photo" *ngIf="photo" />
    </ion-card>

</div>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons>
        <button ion-button icon-left (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>Selecione Imagen
        </button>
        <button ion-button icon-left (click)="uploadImagecam()" *ngIf="image">
          <ion-icon name="cloud-upload"></ion-icon>Subir
        </button>

        <button ion-button icon-left (click)="subir()" >
            <ion-icon name="cloud-upload"></ion-icon>Subir
          </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>